@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: rgba(22, 14, 94, 0.747);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .1);
  width: 800px;
  max-width: 100%;
  text-align: center;
}

.container h3 {
  text-align: center;
  letter-spacing: 2px;
  opacity: .5;
  font-size: 1.2rem;
  line-height: 1.2;
}

.joke {
  margin: auto;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  max-width: 600px;
}

.btn {
  margin: auto;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(14, 87, 20);
  color: #fff;
  font-size: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 10px 20px rgba(0, 0, 0, .1);
}

.btn:active {
  transform: scale(.98);
}

.btn:focus {
  outline: 0;
}